<section class="project-cta ">

    <div class="container">

        <div class="cta-card">

            <span class="section-tag">

                START YOUR PROJECT

            </span>

            <h2>

                Ready to Build Your
                <span>Next Website?</span>

            </h2>

            <p>

                We create websites for healthcare organizations,
                laboratories, businesses and growing brands that
                combine beautiful design with measurable results.

            </p>

            <div class="cta-buttons">

                <a href="{% url 'contact' %}"

                   class="btn-primary">

                    Start a Project

                </a>

                <a href="{% url 'projects' %}"

                   class="btn-secondary">

                    Explore More Projects

                </a>

            </div>

        </div>

    </div>

</section>