<section class="project-navigation">

    <div class="container">

        <div class="navigation-grid">

            <!-- Previous Project -->

            <a href="{% url 'astron' %}" class="nav-project">

                <span>

                    ← Previous Project

                </span>

                <h3>

                    Astron Healthcare

                </h3>

            </a>

            <!-- Next Project -->

            <a href="{% url 'quest' %}" class="nav-project right">

                <span>

                    Next Project →

                </span>

                <h3>

                    Quest Labs

                </h3>

            </a>

        </div>

    </div>

</section>