<section class="project-navigation">

    <div class="container">

        <div class="navigation-grid">

            <a href="{% url 'quest' %}" class="nav-project">

                <span>

                    ← Previous Project

                </span>

                <h3>

                    Quest Labs

                </h3>

            </a>

            <a href="{% url 'pase' %}" class="nav-project right">

                <span>

                    Next Project →

                </span>

                <h3>

                    Pan African Society of Endometriosis

                </h3>

            </a>

        </div>

    </div>

</section>