{% load static %}

<aside class="sidebar">

    <div class="logo">

        <h2>
            Line <span>Eight</span>
        </h2>

    </div>


    <ul>

        <!-- Dashboard -->

        <li>

            <a href="{% url 'dashboard' %}">

                <i class="bi bi-grid"></i>

                Dashboard

            </a>

        </li>


        <!-- Projects -->

        <li>

            <a href="{% url 'dashboard_projects' %}">

                <i class="bi bi-folder"></i>

                Projects

            </a>

        </li>


        <!-- Blogs -->

        <li>

            <a href="{% url 'dashboard_blogs' %}">

                <i class="bi bi-newspaper"></i>

                Blogs

            </a>

        </li>


        <!-- Clients -->

        <li>

            <a href="{% url 'dashboard_clients' %}">

                <i class="bi bi-people"></i>

                Clients

            </a>

        </li>

        


        <!-- Messages -->

        <li>

            <a href="{% url 'dashboard_messages' %}">

                <i class="bi bi-envelope"></i>

                <span>
                    Messages
                </span>

                {% if unread_messages > 0%}

                       <span class="sidebar-badge">
                            {{ new_messages }}
                       </span>
                {% endif %}           
            </a>

        </li>

        <li>
            <a href="{% url 'client_messages_dashboard' %}">

                 <i class="bi bi-chat-square-text"></i>

                <span>
                  Client Messages
                </span>

                {% if client_unread_messages > 0%}

                    <span class="sidebar-badge">
                        {{ client_unread_messages }}
                    </span>

                {% endif %}

             </a>
        </li>

        <li class="sidebar-item">
            <a href="{% url 'ai_assistant' %}" class="sidebar-link">
               <i class="bi bi-robot"></i>
                <span>AI Assistant</span>
            </a>
        </li>


        <!-- Settings -->

        <li>

            <a href="{% url 'dashboard_settings' %}">

                <i class="bi bi-gear"></i>

                Settings

            </a>

        </li>

    </ul>

</aside>