<section class="project-navigation">

    <div class="container">

        <div class="navigation-grid">

            <!-- Previous Project -->

            <a href="{% url 'pase' %}" class="nav-project">

                <span>

                    ← Previous Project

                </span>

                <h3>

                    Pan African Society of Endometriosis

                </h3>

            </a>

            <!-- Next Project -->

            <a href="{% url 'healing_mama_africa' %}" class="nav-project right">

                <span>

                    Next Project →

                </span>

                <h3>

                    Healing Mama Africa

                </h3>

            </a>

        </div>

    </div>

</section>