{% load static %}

<section class="blog-hero">

    <div class="container">
        
        <span class="section-tag">
            OUR BLOG
        </span>

        <h1>
            Insights &
            <span>Resources.</span>
        </h1>

        <p>
             <span>Creative ideas</span> and practical insights that help
              brands grow through design, photography, videography and web development.
        </p>
         
        <a href="#articles" class="blog-btn">
             Explore Articles
            <i class="bi bi-arrow-right"></i>
        </a>
    </div>

</section>