{% load static %}

<section class="clients ">

    <div class="container">

        <div class="clients-header">

            <span class="section-tag">
                TRUSTED BY
            </span>

            <h2>
                Innovative Brands We Work With
            </h2>

            <p>
                Delivering creative solutions for healthcare, technology, education and growing businesses.
            </p>

        </div>

        <div class="row g-4 justify-content-center">

            <div class="col-6 col-md-4 col-lg-2">
                <div class="client-card">
                    <img src="{% static 'images/clients/aston.jpg' %}" alt="Astron Healthcare">
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-2">
                <div class="client-card">
                    <img src="{% static 'images/clients/kg.jpg' %}" alt="HPB Surgeon">
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-2">
                <div class="client-card">
                    <img src="{% static 'images/clients/qac.jpg' %}" alt="Quest Labs">
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-2">
                <div class="client-card">
                    <img src="{% static 'images/clients/hma.jpg' %}" alt="Healing Mama Africa">
                </div>
            </div>

            <div class="col-6 col-md-4 col-lg-2">
                <div class="client-card">
                    <img src="{% static 'images/clients/pase.jpg' %}" alt="Pase Africa">
                </div>
            </div>

        </div>

    </div>

</section>