<section class="cta-section ">

    <div class="container">

        <div class="cta-box">

            <span class="section-tag">
                LET'S CREATE
            </span>

            <h2>

                Let's Create Something Amazing Together.

            </h2>

            <p>

                Design. Photography. Video. Web.

            </p>

            <div class="cta-buttons">

                <a href="/contact/" class="btn-primary-custom">

                    Start Your Project

                </a>

                <a href="/services/" class="btn-outline-custom">

                    Explore Services

                </a>

            </div>

        </div>

    </div>

</section>