{% load static %}

<section class="projects-section">

    <div class="container">

        <div class="projects-grid" id="projectsGrid">

            {% for project in projects %}

                <article
                    class="project-card"
                    data-category="{{ project.service|default:''|lower}}"
                    data-search="
                        {{ project.title|default:''|lower }}
                        {{ project.service|default:''|lower }}
                        {{ project.industry|default:''|lower }}
                        {{ project.short_description|default:''|lower }}
                    "
                >

                    <div class="project-image">

                        {% if project.hero_image %}

                            <img
                                src="{{ project.hero_image.url }}"
                                alt="{{ project.title }}"
                            >

                        {% else %}

                            <img
                                src="{% static 'images/placeholder.jpg' %}"
                                alt="{{ project.title }}"
                            >

                        {% endif %}

                        <div class="project-overlay">

                            <a
                                href="{% url 'project_detail' project.slug %}"
                                class="project-link"
                            >
                                View Project
                                <i class="bi bi-arrow-up-right"></i>
                            </a>

                        </div>

                    </div>

                    <div class="project-body">

                        <span class="project-type">
                            {{ project.service }}
                        </span>

                        <h3>
                            {{ project.title }}
                        </h3>

                        <p>
                            {{ project.short_description }}
                        </p>

                        <div class="project-tags">

                            <span>
                                {{ project.industry }}
                            </span>

                            <span>
                                {{ project.duration }}
                            </span>

                        </div>

                    </div>

                </article>

            {% empty %}

                <div class="empty-projects">

                    <h2>No projects have been published yet.</h2>

                    <p>
                        Once you publish projects from the dashboard
                        they will appear here automatically.
                    </p>

                </div>

            {% endfor %}

        </div>

    </div>

</section>