{% load static %}

<section class="projects-hero">

    <div class="container">

        <div class="hero-content">

            <!-- LEFT -->

            <div class="hero-text">

                <span class="section-tag">

                    OUR PORTFOLIO

                </span>

                <h1>

                    Creative Work That

                    <span>Delivers Results</span>

                </h1>

                <p>

                    Explore our collection of websites, branding,
                    photography and videography crafted to help
                    businesses grow.

                </p>

                <a href="#projects" class="btn-primary">

                    View All Projects

                    <i class="bi bi-arrow-down"></i>

                </a>

            </div>

            <!-- RIGHT -->

            <div class="hero-images">

               

                <img
                    class="hero-phone"
                    src="{% static 'images/projects/gd.jpg' %}"
                    alt="Phone">

                <img
                    class="hero-poster"
                    src="{% static 'images/projects/featured.jpg' %}"
                    alt="Poster">

                <img
                    class="hero-camera"
                    src="{% static 'images/projects/pg.jpg' %}"
                    alt="Camera">

            </div>

        </div>

    </div>

</section>