<section class="projects-toolbar" id="projects">

    <div class="container">

        <div class="toolbar-wrapper">

            <!-- Filters -->
            <div class="filter-buttons">

                <button
                    type="button"
                    class="filter-btn active"
                    data-filter="all">
                    All
                </button>

                {% for service in services %}

                    <button
                        type="button"
                        class="filter-btn"
                        data-filter="{{ service|lower }}">
                        {{ service }}
                    </button>

                {% endfor %}


            </div>

            <!-- Search -->
            <div class="search-box">

                <i class="bi bi-search"></i>

                <input
                    type="text"
                    id="searchProjects"
                    placeholder="Search projects..."
                    autocomplete="off"
                >

            </div>

        </div>

    </div>

</section>