{% load static %}
<section class="related-projects">

    <div class="container">

        <div class="gallery-heading">

            <span class="section-tag">

                MORE PROJECTS

            </span>

            <h2>You May Also Like</h2>

        </div>

        <div class="related-grid">

            <a href="{% url 'astron' %}" class="related-card">

                <img src="{% static 'images/projects/pase/astron.jpg' %}" alt="">

                <h4>Astron Healthcare</h4>

            </a>

            <a href="#" class="related-card">

                <img src="{% static 'images/projects/pase/hpb.jpg' %}" alt="">

                <h4>HPB Surgeon Kenya</h4>

            </a>

            <a href="#" class="related-card">

                <img src="{% static 'images/projects/healing.jpg' %}" alt="">

                <h4>Healing Mama Africa</h4>

            </a>

        </div>

    </div>

</section>