{% load static %}

<section class="service-hero">

    <div class="container">

        <div class="row align-items-center">

            <!-- LEFT CONTENT -->

            <div class="col-lg-5">

                <span class="section-tag">
                    WHAT WE DO
                </span>

                <h1>
                    Creative Services
                    <br>
                    Built For
                    <span>Growth.</span>
                </h1>

                <p>
                    Design. Photography.
                    Videography. Web.
                </p>

            </div>

            <!-- RIGHT COLLAGE -->

            <div class="col-lg-7">

                <div class="hero-collage">

                    <!-- LEFT COLUMN -->

                    <div class="left-column">

                        <div class="image-box large">

                            <img src="{% static 'images/service/hero1.PNG' %}" alt="Creative Team">

                        </div>

                        <div class="image-box medium">

                            <img src="{% static 'images/service/hero3.PNG' %}" alt="Workspace">

                        </div>

                    </div>

                    <!-- RIGHT COLUMN -->

                    <div class="right-column">

                        <div class="image-box small">

                            <img src="{% static 'images/service/hero2.PNG' %}" alt="Office">

                        </div>

                        <div class="image-box large">

                            <img src="{% static 'images/service/hero4.PNG' %}" alt="Studio">

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>